:root {
  --web-header1-font-family: "Lato", Helvetica;
  --web-header1-font-weight: 300;
  --web-header1-font-size: 48px;
  --web-header1-letter-spacing: -0.96px;
  --web-header1-line-height: normal;
  --web-header1-font-style: normal;
  --web-header2-font-family: "Lato", Helvetica;
  --web-header2-font-weight: 300;
  --web-header2-font-size: 40px;
  --web-header2-letter-spacing: -0.6px;
  --web-header2-line-height: normal;
  --web-header2-font-style: normal;
  --web-header3-font-family: "Lato", Helvetica;
  --web-header3-font-weight: 600;
  --web-header3-font-size: 36px;
  --web-header3-letter-spacing: -0.36px;
  --web-header3-line-height: 44px;
  --web-header3-font-style: normal;
  --web-header4-font-family: "Lato", Helvetica;
  --web-header4-font-weight: 600;
  --web-header4-font-size: 32px;
  --web-header4-letter-spacing: -0.16px;
  --web-header4-line-height: normal;
  --web-header4-font-style: normal;
  --web-header5-font-family: "Lato", Helvetica;
  --web-header5-font-weight: 700;
  --web-header5-font-size: 28px;
  --web-header5-letter-spacing: 0px;
  --web-header5-line-height: normal;
  --web-header5-font-style: normal;
  --web-header6-font-family: "Lato", Helvetica;
  --web-header6-font-weight: 700;
  --web-header6-font-size: 24px;
  --web-header6-letter-spacing: 0.12px;
  --web-header6-line-height: 30px;
  --web-header6-font-style: normal;
  --web-subhead1-font-family: "Lato", Helvetica;
  --web-subhead1-font-weight: 700;
  --web-subhead1-font-size: 20px;
  --web-subhead1-letter-spacing: 0.4px;
  --web-subhead1-line-height: 22px;
  --web-subhead1-font-style: normal;
  --web-subhead2-font-family: "Lato", Helvetica;
  --web-subhead2-font-weight: 700;
  --web-subhead2-font-size: 16px;
  --web-subhead2-letter-spacing: 0.24px;
  --web-subhead2-line-height: normal;
  --web-subhead2-font-style: normal;
  --web-body-font-family: "Lato", Helvetica;
  --web-body-font-weight: 400;
  --web-body-font-size: 16px;
  --web-body-letter-spacing: 0px;
  --web-body-line-height: 20px;
  --web-body-font-style: normal;
  --web-description-font-family: "Lato", Helvetica;
  --web-description-font-weight: 300;
  --web-description-font-size: 14px;
  --web-description-letter-spacing: 0px;
  --web-description-line-height: 16px;
  --web-description-font-style: normal;
  --scale-body-text-3-medium-font-family: "Roboto", Helvetica;
  --scale-body-text-3-medium-font-weight: 500;
  --scale-body-text-3-medium-font-size: 14px;
  --scale-body-text-3-medium-letter-spacing: 0px;
  --scale-body-text-3-medium-line-height: 20px;
  --scale-body-text-3-medium-font-style: normal;
  --scale-body-text-2-bold-font-family: "Roboto", Helvetica;
  --scale-body-text-2-bold-font-weight: 700;
  --scale-body-text-2-bold-font-size: 16px;
  --scale-body-text-2-bold-letter-spacing: 0px;
  --scale-body-text-2-bold-line-height: 24px;
  --scale-body-text-2-bold-font-style: normal;
  --scale-body-text-2-medium-font-family: "Roboto", Helvetica;
  --scale-body-text-2-medium-font-weight: 500;
  --scale-body-text-2-medium-font-size: 16px;
  --scale-body-text-2-medium-letter-spacing: 0px;
  --scale-body-text-2-medium-line-height: 24px;
  --scale-body-text-2-medium-font-style: normal;
  --scale-body-text-3-regular-font-family: "Roboto", Helvetica;
  --scale-body-text-3-regular-font-weight: 400;
  --scale-body-text-3-regular-font-size: 14px;
  --scale-body-text-3-regular-letter-spacing: 0px;
  --scale-body-text-3-regular-line-height: 20px;
  --scale-body-text-3-regular-font-style: normal;
  --scale-body-text-1-bold-font-family: "Roboto", Helvetica;
  --scale-body-text-1-bold-font-weight: 700;
  --scale-body-text-1-bold-font-size: 18px;
  --scale-body-text-1-bold-letter-spacing: 0px;
  --scale-body-text-1-bold-line-height: 28px;
  --scale-body-text-1-bold-font-style: normal;
  --variable-collection-dominant-black: rgba(40, 40, 40, 1);
  --variable-collection-dominant-darkgray: rgba(89, 89, 89, 1);
  --variable-collection-dominant-gray: rgba(153, 153, 153, 1);
  --variable-collection-dominant-lightgray: rgba(221, 221, 221, 1);
  --variable-collection-dominant-white: rgba(255, 255, 255, 1);
  --variable-collection-primary-1: rgba(229, 136, 83, 1);
  --variable-collection-primary-2: rgba(194, 90, 30, 1);
  --variable-collection-primary-3: rgba(123, 59, 23, 1);
  --variable-collection-primary-4: rgba(215, 160, 129, 1);
  --variable-collection-primary-5: rgba(255, 223, 205, 1);
  --variable-collection-secondary-1: rgba(70, 153, 106, 1);
  --variable-collection-secondary-2: rgba(23, 132, 70, 1);
  --variable-collection-secondary-3: rgba(9, 92, 45, 1);
  --variable-collection-secondary-4: rgba(114, 184, 144, 1);
  --variable-collection-secondary-5: rgba(182, 241, 208, 1);
  --variable-collection-secondary-6: rgba(40, 94, 153, 1);
  --variable-collection-secondary-7: rgba(19, 67, 119, 1);
  --variable-collection-secondary-8: rgba(13, 51, 94, 1);
  --variable-collection-secondary-9: rgba(72, 120, 172, 1);
  --variable-collection-secondary-10: rgba(197, 224, 255, 1);
  --variable-collection-color: var(--variable-collection-primary-1);
  --collection-1-background: rgba(245, 251, 255, 1);
}
